<!-- footer -->
<section>
    <div class="container-fluid bg-dark text-white px-5 py-3">
      <div class="row align-items-center ">
        <div class="col-4">
          <h3>Get In Touch</h3>
           <p><i class="fas fa-envelope pr-2"></i>  ahmed@gmail.com</p>
          <p> <i class="fas fa-envelope pr-2"></i> 0123456</p>
        </div>
        <div class="col-4  text-center align-items-center">
          <button type="button" class="btn btn-secondary"> <a href="#" class="text-white"> Contact Me </a> </button>
        </div>
        <div class="col-4  text-center ">
          <i class="fab fa-linkedin-in pr-3"></i> 
          <i class="fab fa-facebook-f pr-3"></i>
          <i class="fab fa-twitter"></i>
          <p>copyright 2021</p>
        </div>
  
      </div>
    </div>
  </section>