<!-- <div class="container">
    <div class="row justify-content-center">
<table border="7">
    <tr>
        <td colspan="4" id="td"> JavaScript Calculator </td>
    </tr>
    <tr>
        <td colspan="3">
            <input id="Answer" type="text" id="ans" [value]="num">
        </td>
        <td>
            <input type="button" class="width" value="=" (click)="EnterEqual()">
        </td>
     </tr>
    <tr>
        <td>
            <input type="button" class="width" value="1" (click)="EnterNumber(1)">
        </td>
        <td>
            <input type="button" class="width" value="2" (click)="EnterNumber(2)">
        </td>
        <td>
            <input type="button" class="width" value="3" (click)="EnterNumber(3)">
        </td>
        <td>
            <input type="button" class="width" value="+" (click)="EnterOperator('+')">
        </td>
    </tr>

    <tr>
        <td>
            <input type="button" class="width" value="4" (click)="EnterNumber(4)">
        </td>
        <td>
            <input type="button" class="width" value="5" (click)="EnterNumber(5)">
        </td>
        <td>
            <input type="button" class="width" value="6" (click)="EnterNumber(6)">
        </td>
        <td>
            <input type="button" class="width" value="-" (click)="EnterOperator('-')">
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="width" value="7" (click)="EnterNumber(7)">
        </td>
        <td>
            <input type="button" class="width" value="8" (click)="EnterNumber(8)">
        </td>
        <td>
            <input type="button" class="width" value="9" (click)="EnterNumber(9)">
        </td>
        <td>
            <input type="button" class="width" value="*" (click)="EnterOperator('*')">
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="width" value="C" (click)="EnterClear()">
        </td>
        <td>
            <input type="button" class="width" value="0" (click)="EnterNumber(0)">
        </td>
        <td>
            <input type="button" class="width" value="." (click)="EnterNumber('.')">
        </td>
        <td>
            <input type="button" class="width" value="/" (click)="EnterOperator('/')">
        </td>
    </tr>
</table>
</div>
</div> -->
