<!-- <div class="container text-center">


<button class="btn btn-secondary" (click)="changeval('-')">-</button>
<button class="btn btn-secondary" (click)="changeval('+')">+</button>


<!-- <ul *ngFor="let user of users"
    [ngSwitch]="user.country">

  <li *ngSwitchCase="'UK'"
      class="text-success">{{ user.country }} ({{ user.country }})
  </li>
  <li *ngSwitchCase="'USA'"
      class="text-primary">{{ user.country }} ({{ user.country }})
  </li>
  <li *ngSwitchCase="'HK'"
      class="text-danger">{{ user.country }} ({{ user.country }})
  </li>
  <li *ngSwitchDefault
      class="text-warning">{{ user.country }} ({{ user.country }})
  </li>
</ul> -->

<!-- <div class="container text-left">
<ul>
    <li *ngFor="let user of users">
      <p [ngClass]="{'text-success': user.country === 'UK','text-primary': user.country === 'USA','text-danger': user.country === 'HK'
         ,'text-success': user.country === 'UK','text-primary': user.country === 'USA'}">
         {{user.name}} {{user.country}}
      </p>
    </li>
</ul>
</div>

</div> -->
