<div class="container portfolio my-4">
    <h2 class="my-5">portfolio</h2>
    <div class="row text-center justify-content-around">
        <div class="card col-12 col-md-6 col-lg-3 bg-secondary text-light p-5 mb-4 Regular shadow">
            <div class="card-body">
                <h5 class="card-title border-bottom">Card title line</h5>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 bg-dark text-light p-5 mb-4 Regular shadow">
            <div class="card-body">
                <h5 class="card-title border-bottom">Card title line</h5>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 bg-secondary text-light p-5 mb-4 Regular shadow">
            <div class="card-body">
                <h5 class="card-title border-bottom">Card title line</h5>
            </div>
        </div>
        <div class="col-12"></div>
        <div class="card col-12 col-md-6 col-lg-3 bg-dark text-light p-5 mb-4 Regular shadow">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 bg-secondary text-light p-5 mb-4 Regular shadow">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 bg-dark text-light p-5 mb-4 Regular shadow">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
       
    </div>
</div>